<table class="tx-simply-resources" >
	<tr>
		<td>
			<f:translate key="tx_simplyresources_domain_model_fileresource.file" />
		</td>
		<td>
			{fileResource.file}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplyresources_domain_model_fileresource.file_name" />
		</td>
		<td>
			{fileResource.fileName}
		</td>
	</tr>
</table>