<label for="file">
	<f:translate key="tx_simplyresources_domain_model_fileresource.file" /> <span class="required">(required)</span>
</label><br />
	<f:form.upload property="file" /><br />
<label for="fileName">
	<f:translate key="tx_simplyresources_domain_model_fileresource.file_name" />
</label><br />
	<f:form.textfield property="fileName" /><br />