<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Resource</h1>

<f:flashMessages />

<table  class="tx_simplyresources" >
	<tr>
		<th><f:translate key="tx_simplyresources_domain_model_resource.resource_type" /></th>
		<th><f:translate key="tx_simplyresources_domain_model_resource.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{resources}" as="resource">
		<tr>
			<td><f:link.action action="show" arguments="{resource : resource}"> {resource.resourceType}</f:link.action></td>
			<td><f:link.action action="show" arguments="{resource : resource}"> {resource.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{resource : resource}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{resource : resource}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Resource</f:link.action>
</f:section>