<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for ImageResource</h1>

<f:flashMessages />

<table  class="tx_simplyresources" >
	<tr>
		<th><f:translate key="tx_simplyresources_domain_model_imageresource.image" /></th>
		<th><f:translate key="tx_simplyresources_domain_model_imageresource.caption" /></th>
		<th><f:translate key="tx_simplyresources_domain_model_imageresource.alternative" /></th>
		<th><f:translate key="tx_simplyresources_domain_model_imageresource.link" /></th>
		<th><f:translate key="tx_simplyresources_domain_model_resource.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{imageResources}" as="imageResource">
		<tr>
			<td><f:link.action action="show" arguments="{imageResource : imageResource}"> {imageResource.image}</f:link.action></td>
			<td><f:link.action action="show" arguments="{imageResource : imageResource}"> {imageResource.caption}</f:link.action></td>
			<td><f:link.action action="show" arguments="{imageResource : imageResource}"> {imageResource.alternative}</f:link.action></td>
			<td><f:link.action action="show" arguments="{imageResource : imageResource}"> {imageResource.link}</f:link.action></td>
			<td><f:link.action action="show" arguments="{imageResource : imageResource}"> {imageResource.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{imageResource : imageResource}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{imageResource : imageResource}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New ImageResource</f:link.action>
</f:section>