<f:layout name="Default" />
<f:section name="main">
<h1>New ImageResource</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:ImageResource}"/>

<f:form action="create" enctype="multipart/form-data" name="newImageResource" object="{newImageResource}">
	<f:render partial="ImageResource/FormFields" />
	<f:render partial="Resource/FormFields" />
	<f:form.submit value="Create new" />
</f:form>
</f:section>