<f:layout name="Default" />

<f:section name="main">
<h1>Single View for ImageResource</h1>

<f:flashMessages />
	<f:render partial="ImageResource/Properties" arguments="{imageResource:imageResource}" />
	<f:render partial="Resource/Properties" arguments="{resource:imageResource}" />
<f:link.action action="list">Back to list</f:link.action><br />
<f:link.action action="new">New ImageResource</f:link.action>
</f:section>