<label for="image">
	<f:translate key="tx_simplyresources_domain_model_imageresource.image" /> <span class="required">(required)</span>
</label><br />
	<f:form.upload property="image" /><br />
<label for="caption">
	<f:translate key="tx_simplyresources_domain_model_imageresource.caption" />
</label><br />
	<f:form.textfield property="caption" /><br />
<label for="alternative">
	<f:translate key="tx_simplyresources_domain_model_imageresource.alternative" />
</label><br />
	<f:form.textfield property="alternative" /><br />
<label for="link">
	<f:translate key="tx_simplyresources_domain_model_imageresource.link" />
</label><br />
	<f:form.textfield property="link" /><br />