<table class="tx-simply-resources" >
	<tr>
		<td>
			<f:translate key="tx_simplyresources_domain_model_imageresource.image" />
		</td>
		<td>
			{imageResource.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplyresources_domain_model_imageresource.caption" />
		</td>
		<td>
			{imageResource.caption}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplyresources_domain_model_imageresource.alternative" />
		</td>
		<td>
			{imageResource.alternative}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplyresources_domain_model_imageresource.link" />
		</td>
		<td>
			{imageResource.link}
		</td>
	</tr>
</table>