<table class="tx-simply-resources" >
	<tr>
		<td>
			<f:translate key="tx_simplyresources_domain_model_resource.resource_type" />
		</td>
		<td>
			{resource.resourceType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplyresources_domain_model_resource.description" />
		</td>
		<td>
			{resource.description}
		</td>
	</tr>
</table>