<f:layout name="Default" />

<f:section name="main">
<h1>Listing for FileResource</h1>

<f:flashMessages />

<table  class="tx_simplyresources" >
	<tr>
		<th><f:translate key="tx_simplyresources_domain_model_fileresource.file" /></th>
		<th><f:translate key="tx_simplyresources_domain_model_fileresource.file_name" /></th>
		<th><f:translate key="tx_simplyresources_domain_model_resource.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{fileResources}" as="fileResource">
		<tr>
			<td><f:link.action action="show" arguments="{fileResource : fileResource}"> {fileResource.file}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fileResource : fileResource}"> {fileResource.fileName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fileResource : fileResource}"> {fileResource.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{fileResource : fileResource}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{fileResource : fileResource}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New FileResource</f:link.action>
</f:section>