<f:layout name="Default" />

<f:section name="main">
<h1>New FileResource</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:FileResource}"/>

<f:form action="create" enctype="multipart/form-data" name="newFileResource" object="{newFileResource}">
	<f:render partial="FileResource/FormFields" />
	<f:render partial="Resource/FormFields" />
	<f:form.submit value="Create new" />
</f:form>
</f:section>