<f:layout name="Default" />

<f:section name="main">
<h1>Single View for FileResource</h1>

<f:flashMessages />
	<f:render partial="FileResource/Properties" arguments="{fileResource:fileResource}" />
	<f:render partial="Resource/Properties" arguments="{resource:fileResource}" />
<f:link.action action="list">Back to list</f:link.action><br />
<f:link.action action="new">New FileResource</f:link.action>
</f:section>