<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for VideoResource</h1>

<f:flashMessages />

<table  class="tx_simplyresources" >
	<tr>
		<th><f:translate key="tx_simplyresources_domain_model_videoresource.video_reference" /></th>
		<th><f:translate key="tx_simplyresources_domain_model_resource.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{videoResources}" as="videoResource">
		<tr>
			<td><f:link.action action="show" arguments="{videoResource : videoResource}"> {videoResource.videoReference}</f:link.action></td>
			<td><f:link.action action="show" arguments="{videoResource : videoResource}"> {videoResource.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{videoResource : videoResource}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{videoResource : videoResource}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New VideoResource</f:link.action>
</f:section>