<f:layout name="Default" />

<f:section name="main">
<h1>Single View for VideoResource</h1>

<f:flashMessages />
	<f:render partial="VideoResource/Properties" arguments="{videoResource:videoResource}" />
	<f:render partial="Resource/Properties" arguments="{resource:videoResource}" />
<f:link.action action="list">Back to list</f:link.action><br />
<f:link.action action="new">New VideoResource</f:link.action>
</f:section>