<label for="videoReference">
	<f:translate key="tx_simplyresources_domain_model_videoresource.video_reference" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="videoReference" /><br />