<table class="tx-simply-resources" >
	<tr>
		<td>
			<f:translate key="tx_simplyresources_domain_model_videoresource.video_reference" />
		</td>
		<td>
			{videoResource.videoReference}
		</td>
	</tr>
</table>