<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for FileResource</h1>

<f:flashMessages />

<table  class="tx_simplyresources" >
	<tr>
		<th><f:translate key="tx_simplyresources_domain_model_fileresource.file" /></th>
		<th><f:translate key="tx_simplyresources_domain_model_fileresource.file_name" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{fileResources}" as="fileResource">
		<tr>
			<td><f:link.action action="show" arguments="{fileResource : fileResource}"> {fileResource.file}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fileResource : fileResource}"> {fileResource.fileName}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{fileResource : fileResource}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{fileResource : fileResource}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New FileResource</f:link.action>
</f:section>